@font-face {
  font-family: RobotoMedium;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Robotomedium.woff2), url(../fonts/Robotomedium.woff);
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto.woff2), url(../fonts/Roboto.woff);
  font-display: swap;
}

@font-face {
  font-family: Spicy;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/SpicyRice-Regular.ttf);
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "RobotoMedium";
}

h1 {
  font-size: 32px;
  color: #1D0073;
}

h2 {
  font-size: 48px;
  font-family: "Roboto";
}

h3 {
  font-size: 24px;
  font-family: "Roboto";
}

h1, h3 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

p {
  font-size: 24px;
  font-family: "Roboto";
  line-height: 130%;
}

button {
  border-radius: 10px;
  width: 100%;
  border: none;
  font-family: "RobotoMedium";
}

img {
  max-width: 100%;
}

.container {
  margin: 0 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: 65px;
  font-family: "RobotoMedium";
}

.header__logo {
  font-family: "Spicy";
  font-size: 48px;
  white-space: nowrap;
}

.header__logo a, .header__logo a:hover, .header__logo a:focus {
  text-decoration: none;
}

.header__logo-red {
  color: #7B0B2D;
}

.header__logo-blue {
  color: #1D0073;
}

.header__menu {
  max-width: 430px;
  width: 100%;
}

.header__menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.header__menu ul .active {
  display: block;
}

.header__menu li > a {
  color: #1D0073;
  text-decoration: none;
}

.header__menu li:hover > a {
  color: #7B0B2D;
  cursor: pointer;
}

.header__buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 340px;
  width: 100%;
}

.header__buttons button {
  max-width: 152px;
  font-size: 20px;
  padding: 14px 35px;
}

/*Menu for phone*/
@media screen and (max-width: 860px) {
  .menu-button {
    display: block;
    position: relative;
    width: 39px;
    height: 20px;
    z-index: 19;
    float: right;
    margin-top: 15px;
  }
  .menu-button span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-button::before, .menu-button::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-button::before {
    top: 0;
  }
  .menu-button::after {
    bottom: 0;
  }
  .menu-button.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu-button.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .menu-button.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu nav {
    display: block;
    visibility: hidden;
  }
  .menu nav li {
    margin: 4%;
    padding: 2%;
    margin-right: 6%;
    text-align: center;
  }
  .menu nav .active {
    display: block;
    visibility: visible;
    height: 250px;
  }
  .menu_active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1.1;
  }
  .menu-button-close {
    float: right;
    margin-top: 20px;
  }
  .main__scroll {
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
  }
  .header__buttons {
    display: none;
  }
  .header__buttons.active {
    display: block;
    text-align: center;
    max-width: 100%;
  }
}

/*Main Screen*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.main__description {
  max-width: 596px;
  margin-top: 60px;
}

.main__description h1, .main__description h3 {
  margin-bottom: 32px;
  color: #1D0073;
}

.main__description button {
  max-width: 230px;
  font-size: 24px;
  padding: 13px 67px;
}

.main__image {
  margin-top: 83px;
}

/*About Us*/
.aboutUs__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.aboutUs__item .itemDesc {
  max-width: 630px;
  width: 100%;
}

.aboutUs__item .itemDesc h3, .aboutUs__item .itemDesc p {
  text-align: center;
}

.aboutUs__item .itemDesc h3 {
  color: #7B0B2D;
  margin-bottom: 30px;
}

.aboutUs__item .itemDesc p {
  color: #281E1E;
}

.aboutUs__item .itemImg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*Courses*/
.courses {
  margin-top: 80px;
  background-image: url(../img/background2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 100px;
}

.courses h2 {
  color: #FBCABA;
  margin-top: 120px;
}

.courses h3 {
  color: #EDEFFE;
  margin-top: 35px;
}

.courses h2, .courses h3 {
  text-align: center;
}

.courses a h2:hover {
  color: #a88ef2;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.courses a, .courses a:hover, .courses a:focus {
  text-decoration: none;
}

.courses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  margin: auto;
}

.courses__item {
  max-width: 428px;
  width: 100%;
  padding: 20px 15px;
}

.courses__item a {
  display: block;
}

.courses__item .itemImg {
  display: inline-block;
}

.courses__item .itemImg img {
  height: 230px;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2;
}

.courses__item :hover > .itemImg img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses__item :hover > h3 {
  color: #FBCABA;
}

/*Reviews*/
.reviews, .advantages, .details {
  width: 80%;
  margin: 0 auto;
}

.reviews h2, .advantages h2, .details h2 {
  color: #7B0B2D;
  text-align: center;
}

.reviews h2:hover, .advantages h2:hover, .details h2:hover {
  color: #1D0073;
}

.reviews a, .reviews a:hover, .reviews a:focus, .advantages a, .advantages a:hover, .advantages a:focus, .details a, .details a:hover, .details a:focus {
  text-decoration: none;
}

.reviews p, .advantages p, .details p {
  color: #2D0511;
}

.reviews .reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(123, 11, 45, 0.6);
  border-radius: 50px;
}

.reviews .reviews__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
}

.reviews .reviews__item-title span {
  font-size: 24px;
  color: #7B0B2D;
}

.reviews .reviews__item-desc {
  max-width: 643px;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.reviews .reviews__item:last-child {
  margin-top: 24px;
}

.advantages h3 {
  font-size: 24px;
  color: #7B0B2D;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  max-width: 750px;
  width: 100%;
}

.advantages__item-title {
  margin-bottom: 18px;
}

:last-child .advantages__item-title {
  margin-top: 50px;
}

.details p {
  text-align: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details__item-form {
  background: rgba(255, 252, 252, 0.61);
  -webkit-box-shadow: 0px 10px 14px rgba(123, 11, 45, 0.4);
          box-shadow: 0px 10px 14px rgba(123, 11, 45, 0.4);
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
}

.details__item-form form {
  padding: 40px;
}

.details__item-form form input, .details__item-form form textarea {
  font-family: "Roboto";
}

.details__item-form form button {
  font-size: 20px;
  padding: 14px 35px;
}

footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}

footer .header__logo {
  padding-top: 80px;
  text-align: center;
}

footer .header__logo-blue {
  color: #EDEFFE;
}

footer .links {
  padding: 20px 0;
  max-width: 225px;
  width: 100%;
  margin: 0 auto;
}

footer .links nav {
  text-align: center;
}

footer .links ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 225px;
  width: 100%;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 48px;
  }
  .container {
    margin: 0 30px;
  }
  .main__description {
    margin-top: 202px;
  }
  .aboutUs__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutUs .itemImg {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .courses__item {
    width: 50%;
  }
  .courses__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .courses__item {
    width: 31.33%;
  }
}

.containerTable {
  overflow: hidden;
}

.tab {
  float: left;
}

.tab1 {
  max-width: 500px;
  width: 100%;
}

.tab-2 {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab-2 input {
  margin-bottom: 10px;
}

.tab-2 button {
  margin-top: 10px;
  border: 1px solid grey;
}

.tab-2 button:hover {
  background-color: #7B0B2D;
  color: #fff;
  cursor: pointer;
}

tr {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

tr:hover {
  background-color: #EEE;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */