@font-face {
  font-family: RobotoMedium;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Robotomedium.woff2), url(../fonts/Robotomedium.woff);
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto.woff2), url(../fonts/Roboto.woff);
  font-display: swap;
}

@font-face {
  font-family: Spicy;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/SpicyRice-Regular.ttf);
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "RobotoMedium";
}

body a, body a:hover, body a:focus {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  color: #1D0073;
}

h2 {
  font-size: 48px;
  font-family: "Roboto";
}

h3 {
  font-size: 30px;
  font-family: "Roboto";
}

h1, h2, h3 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

p {
  font-size: 24px;
  font-family: "Roboto";
  line-height: 130%;
}

button {
  border-radius: 10px;
  width: 100%;
  border: none;
  font-family: "RobotoMedium";
}

img {
  max-width: 100%;
}

.container {
  margin-right: 5px;
  margin-left: 5px;
}

/*--------------------------HEADER------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: 65px;
  font-family: "RobotoMedium";
  /*Menu for header*/
  /*Buttons for header*/
}

.header .menu {
  max-width: 430px;
  width: 100%;
}

.header .menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.header .menu ul .active {
  display: block;
}

.header .menu li > a {
  color: #1D0073;
}

.header .menu li:hover > a {
  color: #7B0B2D;
  cursor: pointer;
}

.header .buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 340px;
  width: 100%;
}

.header .buttons button {
  max-width: 152px;
  font-size: 20px;
  padding: 14px 35px;
}

/*logo*/
.logo {
  font-family: "Spicy";
  font-size: 36px;
  white-space: nowrap;
  margin-top: 10px;
}

.logo-red {
  color: #7B0B2D;
}

.logo-blue {
  color: #1D0073;
}

/*Menu for phone*/
@media screen and (max-width: 860px) {
  .main__scroll {
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
  }
  /*header*/
  .header {
    /*buttons for header*/
  }
  .header .menu {
    max-width: 100%;
    width: 100%;
    /*burger*/
    /*menu*/
  }
  .header .menu__button {
    display: block;
    position: relative;
    width: 39px;
    height: 20px;
    z-index: 19;
    float: right;
    margin-top: 15px;
  }
  .header .menu__button span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .menu__button::before, .header .menu__button::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .menu__button::before {
    top: 0;
  }
  .header .menu__button::after {
    bottom: 0;
  }
  .header .menu__button-close {
    float: right;
    margin-top: 20px;
  }
  .header .menu__button.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .menu__button.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .menu__button.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .menu__active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1.1;
  }
  .header .menu nav {
    display: none;
    visibility: hidden;
  }
  .header .menu nav li {
    margin: 4%;
    padding: 2%;
    margin-right: 6%;
    text-align: center;
  }
  .header .menu nav .active {
    display: block;
    visibility: visible;
    height: 250px;
  }
  .header .buttons {
    display: none;
  }
  .header .buttons.active {
    display: block;
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header .menu {
    max-width: 100%;
  }
  .header .buttons {
    max-width: 250px;
  }
  .header .buttons button {
    padding: 14px 24px;
  }
}

/*Main Screen*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__description {
  max-width: 596px;
}

.main__description h1, .main__description h3 {
  margin-bottom: 15px;
  color: #1D0073;
}

.main__description button {
  margin-top: 10px;
  max-width: 190px;
  font-size: 24px;
  padding: 13px 1px;
}

.main__image {
  margin-top: 20px;
}

/*About Us*/
.aboutUs .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 20px auto;
  width: 80%;
}

.aboutUs .item__description {
  max-width: 630px;
  width: 100%;
}

.aboutUs .item__description h3, .aboutUs .item__description p {
  text-align: center;
}

.aboutUs .item__description h3 {
  color: #7B0B2D;
  margin-bottom: 30px;
}

.aboutUs .item__description p {
  color: #281E1E;
}

.aboutUs .item__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*Courses*/
.courses {
  background-image: url(../img/background2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 100px;
}

.courses h2 {
  color: #FBCABA;
  margin-top: 100px;
  margin-bottom: 30px;
}

.courses h3 {
  color: #EDEFFE;
  margin-top: 35px;
}

.courses h2, .courses h3 {
  text-align: center;
}

.courses a h2:hover {
  color: #a88ef2;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.courses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  margin: auto;
}

.courses__items .item {
  max-width: 428px;
  width: 100%;
  padding: 20px 15px;
}

.courses__items .item a {
  display: block;
}

.courses__items .item__image {
  display: inline-block;
}

.courses__items .item__image img {
  height: 230px;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2;
}

.courses__items .item :hover > .item__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses__items .item :hover > h3 {
  color: #FBCABA;
}

/*Reviews, advantages and details*/
.reviews, .advantages, .details {
  width: 80%;
  margin: 20px auto 0 auto;
}

.reviews h2, .advantages h2, .details h2 {
  color: #7B0B2D;
  text-align: center;
  margin-bottom: 20px;
}

.reviews h2:hover, .advantages h2:hover, .details h2:hover {
  color: #1D0073;
}

.reviews p, .advantages p, .details p {
  color: #2D0511;
}

/*Reviews*/
.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 643px;
  width: 100%;
  border: 1px solid rgba(123, 11, 45, 0.6);
  border-radius: 50px;
}

.reviews__items .item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.reviews__items .item__title span {
  font-size: 24px;
  color: #7B0B2D;
}

.reviews__items .item__description {
  text-align: center;
  margin-bottom: 24px;
  padding: 0 30px;
}

.reviews__items .item:last-child {
  margin-top: 24px;
}

.reviews__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 30px;
}

/*Advantages*/
.advantages h3 {
  font-size: 24px;
  color: #7B0B2D;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item .item {
  max-width: 750px;
  width: 100%;
}

.advantages__item .item__title {
  margin-bottom: 18px;
}

.advantages__item .item__description {
  max-width: 420px;
}

:last-child .advantages__item .item__title {
  margin-top: 20px;
}

.advantages__image {
  max-width: 550px;
}

/*Details*/
.details p {
  text-align: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.details .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details .item__form {
  background: rgba(255, 252, 252, 0.61);
  -webkit-box-shadow: 0px 10px 14px rgba(123, 11, 45, 0.4);
          box-shadow: 0px 10px 14px rgba(123, 11, 45, 0.4);
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
}

.details .item__form form {
  padding: 40px;
}

.details .item__form form input, .details .item__form form textarea {
  font-family: "Roboto";
}

.details .item__form form button {
  font-size: 20px;
  padding: 14px 35px;
}

.details .item__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/*Footer*/
footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}

footer .logo {
  padding-top: 80px;
  text-align: center;
}

footer .logo-blue {
  color: #EDEFFE;
}

footer .links {
  padding: 20px 0;
  max-width: 225px;
  width: 100%;
  margin: 0 auto;
}

footer .links nav {
  text-align: center;
}

footer .links ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 225px;
  width: 100%;
  list-style-type: none;
}

/*Adaptive for main page*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
  .header .logo {
    font-size: 48px;
    margin-top: 0;
  }
  .main {
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__description {
    margin-top: 0px;
  }
  .main__description button {
    max-width: 230px;
    padding: 13px 67px;
  }
  .main__image {
    margin-top: 0px;
  }
  .aboutUs .item {
    margin: 0 auto 100px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutUs .item__image {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .courses .item {
    width: 50%;
  }
  .courses__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }
  .reviews, .advantages, .details {
    margin: 100px auto 0 auto;
  }
  .reviews h2, .advantages h2, .details h2 {
    margin-bottom: 50px;
  }
  .reviews__items .item__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 24px 0;
  }
  :last-child .advantages__item .item__title {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 48px;
  }
  .main__description h1, .main__description h3 {
    margin-bottom: 32px;
    color: #1D0073;
  }
  .courses .item {
    width: 31.33%;
  }
  .reviews__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .reviews__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0;
  }
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .details .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .details .item__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media screen and (min-width: 1400px) {
  .main__description {
    margin-top: 120px;
  }
  .advantages__item .item__description {
    max-width: 550px;
  }
  .details .item__form {
    max-width: 600px;
  }
}

@media screen and (min-width: 1800px) {
  .advantages__item .item__description {
    max-width: 650px;
  }
  .advantages__image {
    max-width: 750px;
  }
}

/*--------------Course page---------------*/
.coursesList h2 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 10px 0px 40px 0px;
}

.coursesList #table {
  width: 100%;
}

.coursesList #table th {
  background-color: #eae3f7;
}

.coursesList #table tr {
  background-color: #f3ebf2;
}

.coursesList #table td {
  padding: 10px;
}

.coursesList #table .operations {
  background-color: #fff;
  padding: 0px;
}

.coursesList #table .operations button {
  margin-bottom: 1px;
  color: #FFF;
  background-color: #6e465f;
}

.coursesList #table .operations button:hover, .coursesList #table .operations button:focus, .coursesList #table .operations button:active {
  color: #FFF;
  background-color: #6e465fe7;
}

.coursesList #table .operations button[disabled]:hover, .coursesList #table .operations button[disabled]:focus, .coursesList #table .operations button[disabled]:active {
  color: #FFF;
  background-color: #6e465fe7;
}

.coursesList button {
  max-width: 152px;
  font-size: 20px;
  padding: 12px 17px;
  border-radius: 0;
  margin-bottom: 10px;
  color: #FFF;
  background-color: #1D0073;
}

.coursesList button:hover, .coursesList button:focus, .coursesList button:active {
  color: #FFF;
  background-color: #1d0073ee;
}

.coursesList button[disabled]:hover, .coursesList button[disabled]:focus, .coursesList button[disabled]:active {
  color: #FFF;
  background-color: #1d0073ee;
}

.activate__form button {
  font-size: 20px;
  padding: 12px 17px;
  border-radius: 0;
  margin-bottom: 10px;
  color: #FFF;
  background-color: #1D0073;
}

.activate__form button:hover, .activate__form button:focus, .activate__form button:active {
  color: #FFF;
  background-color: #1d0073ee;
}

.activate__form button[disabled]:hover, .activate__form button[disabled]:focus, .activate__form button[disabled]:active {
  color: #FFF;
  background-color: #1d0073ee;
}

/*--------------users page---------------*/
.usersList {
  font-family: "Roboto";
}

.usersList h2 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 10px 0px 40px 0px;
}

.usersList tr th {
  background-color: #eae3f7;
}

.usersList tr td {
  padding: 10px;
  background-color: none;
}

.usersList tr:hover {
  background-color: #f7e3e3;
  cursor: pointer;
}

.usersList .title {
  text-align: center;
  text-transform: uppercase;
  background-color: #e9ddec;
}

.usersList .title:hover {
  background-color: #e9ddec;
  cursor: default;
}

.users__details, .courses__details {
  padding: 30px;
}

.users__details h3, .courses__details h3 {
  text-align: center;
}

.users__details .info__table, .courses__details .info__table {
  margin-top: 20px;
}

.users__details .info__table tr th, .courses__details .info__table tr th {
  background-color: #eae3f7;
}

.users__details .info__table td, .courses__details .info__table td {
  padding: 10px;
  background-color: none;
}
/*# sourceMappingURL=style.css.map */