@import "fonts";
*{
  box-sizing: border-box;
}
body{
  font-family: "RobotoMedium";
  a, a:hover, a:focus{
    text-decoration: none;
  }
}
h1{
  font-size: 32px;
  color:#1D0073;
}
h2{
  font-size: 48px;
  font-family: "Roboto";
}
h3{
  font-size: 30px;
  font-family: "Roboto";
}
h1, h2, h3{
  margin-block-start: 0em;
  margin-block-end: 0em;
}
p{
  font-size: 24px;
  font-family: "Roboto";
  line-height: 130%;
}
button{
  border-radius: 10px;
  width:100%; 
  border:none;
  font-family: "RobotoMedium";
}
img{
  max-width: 100%;
}
.container{
  margin-right: 5px;
  margin-left: 5px;
}
/*--------------------------HEADER------------------------------*/
.header{
  display: flex;
  justify-content: space-between;
  max-width:100%;
  height:65px;
  font-family: "RobotoMedium";
  /*Menu for header*/
  .menu{
    max-width: 430px;
    width:100%;
    ul{
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: space-between;
      height: 65px;
      list-style-type: none;
      padding-inline-start: 0;   
      .active{
        display: block;
      }  
    }
    li{
      &>a{
        color:#1D0073;
      }
      &:hover>a{
        color:#7B0B2D;
        cursor: pointer;
      }
    }
  }
  /*Buttons for header*/
  .buttons{
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 340px;
    width:100%;
    button{
      max-width: 152px;
      font-size: 20px;
      padding:14px 35px;
    }
  }
}
/*logo*/
.logo{
  font-family: "Spicy";
  font-size: 36px;
  white-space: nowrap;  
  margin-top: 10px; 
  &-red{
    color:#7B0B2D;
  }
  &-blue{
    color:#1D0073;
  }
}
/*Menu for phone*/
@media screen and (max-width:860px){
  .main__scroll{overflow: hidden;}
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    width:100%;
    height:100vh;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
  }  
  /*header*/
  .header{
    .menu{
      max-width: 100%;
      width: 100%;
      /*burger*/
      &__button{
        display: block;
        position: relative; 
        width: 39px;
        height: 20px;
        z-index: 19;
        float: right;
        margin-top: 15px;
        span{
          position: absolute;
          background-color: #000;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          top:9px;
          transition: all 0.3s ease 0s;
        }
        &::before, &::after{
          content: '';
          background-color: #000;
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          transition: all 0.3s ease 0s;
        }
        &::before{top:0;}
        &::after{bottom:0;}
        &-close{
          float: right; 
          margin-top:20px; 
        }
      }
      &__button.active{
        span{transform:scale(0);}
        &::before{transform: rotate(45deg); top:9px;}
        &::after{transform: rotate(-45deg); bottom: 9px;}
      }   
      &__active{
        transform: translateX(0%);
        opacity: 1.1;
      }        
      /*menu*/
      nav{
        display: none;
        visibility: hidden;
        li{
          margin:4%;
          padding:2%;
          margin-right: 6%;
          text-align: center;
        }
        .active{
          display: block;
          visibility: visible;
          height:250px;
        }
      }
    }
    /*buttons for header*/
    .buttons{
      display: none;
    }
    .buttons.active{
      display: block;
      text-align: center;
      max-width: 100%;
    }
  } 
 }
 @media screen and (max-width:1200px){
   .header{
     .menu{
       max-width: 100%;
     }
     .buttons{
       max-width: 250px;
       button{
        padding: 14px 24px;
       }
     }
   }
 }
/*Main Screen*/
.main{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  &__description{
    max-width: 596px;
    h1,h3{
      margin-bottom: 15px;
      color:#1D0073;
    }
    button{
      margin-top: 10px;
      max-width: 190px;
      font-size: 24px;
      padding: 13px 1px;
    }
  } 
  &__image{
    margin-top: 20px;
  }
}
/*About Us*/
.aboutUs{
  .item{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width:80%;   
    &__description{
      max-width: 630px;
      width:100%;      
      h3,p{
        text-align: center;
      }
      h3{
        color:#7B0B2D;
        margin-bottom: 30px;
      }
      p{
        color:#281E1E;
      }
    }
    &__image{
      order:1;
    }
  }
}
/*Courses*/
.courses{
  background-image: url(../img/background2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 100px;
  h2{
    color:#FBCABA;    
    margin-top: 100px;
    margin-bottom: 30px;
  }
  h3{
    color:#EDEFFE;
    margin-top: 35px;
  }
  h2,h3{
    text-align: center;
  }
  a h2:hover{
    color:#a88ef2;
    transition: 0.2s ease-in-out;
  }
  &__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding:0 30px;
    text-align: center;
    margin:auto;
    .item{
      max-width: 428px;
      width:100%;
      padding:20px 15px;
      a{
        display: block;
      }
      &__image{
        display: inline-block;
        img{
          height:230px;
          display: block;
          transition:1s;
          z-index: 2;      
        }
      }
      :hover>.item__image img{
        transform:scale(1.2);
      }
      :hover>h3{
        color:#FBCABA;
      }
    }
  }    
}
/*Reviews, advantages and details*/
.reviews, .advantages, .details{
  width:80%;
  margin:20px auto 0 auto;
  h2{
    color:#7B0B2D;
    text-align: center;
    margin-bottom: 20px;
    &:hover{
      color:#1D0073;
    }
  }
  p{
    color:#2D0511;
  }
}
/*Reviews*/
.reviews{ 
  &__items{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 643px;
      width:100%;
      border: 1px solid rgba(123, 11, 45, 0.6);
      border-radius: 50px;
      &__title{
        display: flex;
        align-items:center;
        flex-direction: column;
        margin:10px 0;
        span{
          font-size: 24px;
          color:#7B0B2D;
        }
      }
      &__description{
        text-align: center;
        margin-bottom: 24px;
        padding: 0 30px;
      }
      &:last-child{
        margin-top: 24px;
      }
    }  
     
  }  
  &__img{
    order:1;
    margin-top: 30px;
  } 
}
/*Advantages*/
.advantages{
  h3{
    font-size: 24px;
    color:#7B0B2D;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .item{
      max-width: 750px;
      width:100%;
      &__title{
        margin-bottom: 18px;
      }
      &__description{
        max-width: 420px;
      }
      :last-child &__title{
        margin-top: 20px;
      }
    }
  }
  &__image{
    max-width: 550px;
  }
}
/*Details*/
.details{
  p{
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    &__form{
      background: rgba(255, 252, 252, 0.61);
      box-shadow: 0px 10px 14px rgba(123, 11, 45, 0.4);
      border-radius: 20px;
      max-width: 450px;
      width:100%;
      form{
        padding:40px;
        input, textarea{
          font-family: "Roboto";
        }        
        button{
          font-size: 20px;
          padding:14px 35px;
        }
      }
    }
    &__image{
      order:1;
    }
  }
}
/*Footer*/
footer{
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:260px;
  .logo{
    padding-top: 80px;
    text-align: center;
    &-blue{
      color:#EDEFFE;
    }
  }
  .links{
    padding:20px 0;
    max-width: 225px;
    width: 100%;
    margin: 0 auto;
    nav{
      text-align: center;
    }
    ul{
      padding-inline-start: 0px;
      display: flex;
      justify-content: space-between;
      max-width: 225px;
      width:100%;
      list-style-type: none;
    }
  }
}
/*Adaptive for main page*/
@media screen and (min-width: 768px) {
  h1{
    font-size: 36px;
  }
  h3{
    font-size: 32px;
  }
  .container{
    margin-right: 30px;
    margin-left: 30px;
  }
  .header{
    .logo{
      font-size: 48px;
      margin-top: 0;
    }
  }
  .main{
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: row;
    &__description{
      margin-top: 0px;
      button{
        max-width: 230px;
        padding:13px 67px;
      }
    }
    &__image{
      margin-top: 0px;
    }
  }
  .aboutUs{
    .item{
      margin: 0 auto 100px auto;
      flex-direction: row;
      &__image{
        order:initial;
      }
    }
  }
  .courses{
    .item {
      width: 50%;
    }
    &__items{
      justify-content: space-between;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .reviews, .advantages, .details{
    margin:100px auto 0 auto;
    h2{
      margin-bottom: 50px;
    }
  }
  .reviews{ 
    &__items{
      .item{
        &__title{
          flex-direction: row;
          margin:24px 0;
        }
      } 
    }  
  }
  .advantages{
    &__item{
      .item{
        :last-child &__title{
          margin-top: 50px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  h1{
    font-size: 50px;
  }
  h3{
    font-size: 48px;
  }
  .main{
    &__description{
      h1,h3{
        margin-bottom: 32px;
        color:#1D0073;
      }
    }
  }
  .courses{
    .item {
        width: 31.33%;
    }
  }
  .reviews{ 
    &__items{
      flex-direction: row;
      align-items: inherit;
    }  
    &__img{
      order:0;
      margin-top: 0;
    }
  }
  .advantages{
    &__item{
      flex-direction: row;
      align-items: inherit;
    }
  }
  .details{
    .item{
      flex-direction: row;
      align-items: inherit;
      &__image{
        order:0;
      }
    }
  }
} 
@media screen and (min-width: 1400px){
  .main{
    &__description{
      margin-top: 120px;
    }
  }
  .advantages{
    &__item{
      .item{
        &__description{
          max-width: 550px;
        }
      }
    }
  }
  .details{
    .item{
      &__form{
        max-width: 600px;        
      }
    }
  }
}
@media screen and (min-width: 1800px){
  .advantages{
    &__item{
      .item{
        &__description{
          max-width: 650px;
        }
      }
    }
    &__image{
      max-width: 750px;
    }
  }
}


/*--------------Course page---------------*/
.coursesList{
  h2{
    margin-block-start: 0em;
    margin-block-end: 0;
    margin:10px 0px 40px 0px;
  }
  tr{
    background-color: #eae3f7;
  }
  button{
    max-width: 152px;
    font-size: 20px;
    padding:12px 17px;
    border-radius: 0;
    margin-bottom: 10px;
  }
}

/*--------------users page---------------*/
.usersList{
  font-family:"Roboto";
  h2{
    margin-block-start: 0em;
    margin-block-end: 0;
    margin:10px 0px 40px 0px;
  }
  tr th, .info__table tbody tr th{
    background-color: #eae3f7;
  }
  td{
    padding:10px;
    background-color: none;
  }
  tr:hover{
    background-color: #f7e3e3;
    cursor: pointer;
  }
  .title{
    text-align: center;
    text-transform: uppercase;
    background-color:#e9ddec;
  }
  .title:hover{
    background-color: #e9ddec;
    cursor: default;
  }

}
.users__details{
  h3{
    text-align: center;
  }
  padding:30px;
  .info__table{
    margin-top: 20px;
    tr th{background-color: #eae3f7;}
    td{
      padding:10px;
      background-color: none;
    }
  }
}